<!DOCTYPE html>
<html>
    <head>
        <title>ToDo-Login/SignUp</title>
    </head>
    <body>
        <input type="text" id="name" placeholder="enter name"/>
        <input type="password" id="password" autocomplete="off" placeholder="enter password"/>
        <button onclick="signIn()">Sign-in</button>
        <button onclick="signUp()">Sign-up</button>
        <script>
        	function signIn(event) {
        		name = document.getElementById("name").value
                password = document.getElementById("password").value
                window.location = "http://127.0.0.4:5000/signIn/" + name + "/" + password
            }
            function signUp(event) {
        		name = document.getElementById("name").value
                password = document.getElementById("password").value
                window.location = "http://127.0.0.4:5000/signUp/" + name + "/" + password
            }
        </script>
    </body>
</html>